In [1]:
#Series - one dimensional labeled arrays of any data types
      # - what is series - one dimensional sequence of values with associated labels

In [4]:
students = ['mohan','mike','papu']

In [3]:
import pandas as pd

In [5]:
pd.Series(students)

0    mohan
1     mike
2     papu
dtype: object

In [6]:
ages = [25,16,27]

In [7]:
pd.Series(ages)

0    25
1    16
2    27
dtype: int64

In [8]:
heights = [165.8,172.3,175.9]

In [9]:
pd.Series(heights)

0    165.8
1    172.3
2    175.9
dtype: float64

In [10]:
mixed = [True,'say',{'my_mood':100}]

In [11]:
pd.Series(mixed)

0                True
1                 say
2    {'my_mood': 100}
dtype: object

In [12]:
#parameters and arguments

In [13]:
Students = ['mike','mohan','krishnan']

In [14]:
pd.Series(Students)

0        mike
1       mohan
2    krishnan
dtype: object

In [15]:
#this is actually
pd.Series(data = Students)

0        mike
1       mohan
2    krishnan
dtype: object

In [16]:
# here data is the parameters which is actually holds the value in the variables and Students  holds the actual values

In [17]:
#what is in data ?

In [34]:
books_list =['moondru mugam','pollathavan','darbar']

In [35]:
pd.Series(books_list)

0    moondru mugam
1      pollathavan
2           darbar
dtype: object

In [36]:
#here the indexes are creating automatically

In [37]:
#in python while creating list it looks like the below in back end every values will be assign by some index..its looks like dictionary
books_list =[0:'moondru mugam',1:'pollathavan',2:'darbar']

SyntaxError: invalid syntax (4240550972.py, line 2)

In [38]:
books_dict ={0:'moondru mugam',1:'pollathavan',2:'darbar'}

In [39]:
pd.Series(books_dict)

0    moondru mugam
1      pollathavan
2           darbar
dtype: object

In [40]:
#to check the equality between the list and others

In [41]:
print(books_list.equals(books_dict))

AttributeError: 'list' object has no attribute 'equals'

In [42]:
#list object ha no attributes equals..so assign the books_list to some variable

In [45]:
book_s = pd.Series(books_list)
book_b = pd.Series(books_dict)

In [47]:
print(book_s.equals(book_b))

True

In [48]:
# dtype attributes

In [49]:
ages

[25, 16, 27]

In [50]:
pd.Series(ages)

0    25
1    16
2    27
dtype: int64

In [53]:
pd.Series(data =ages,dtype = 'float')

0    25.0
1    16.0
2    27.0
dtype: float64

In [54]:
students

['mohan', 'mike', 'papu']

In [59]:
d_students = pd.Series(students)

In [60]:
#for string values the dtype is in object

In [61]:
d_students.dtype

dtype('O')

In [64]:
#what is dtype('O') is ?
#for numpy the another python library which stores the  values of homogenous type 
#if any one of the values in the array having string datatype the entire values in the list will acts as a string

In [65]:
heights2 =[165.5,134.5,145.8] #dtype: float64

In [66]:
h_s= pd.Series(heights2)

In [67]:
h_s

0    165.5
1    134.5
2    145.8
dtype: float64

In [68]:
heights2 =[165.5,'134.5',145.8] #dtype: object

In [69]:
pd.Series(heights2)

0    165.5
1    134.5
2    145.8
dtype: object

In [70]:
#index and rangeindex

In [71]:
#index - we can give our own index to the list

In [72]:
books_list

['moondru mugam', 'pollathavan', 'darbar']

In [73]:
own_index = pd.Series(books_list,index = ['action_drama','drama','action'])

In [74]:
print(own_index)

action_drama    moondru mugam
drama             pollathavan
action                 darbar
dtype: object

In [75]:
own_index = pd.Series(books_list,index = ['action_drama','drama','action'],dtype='object')#we can also specify the required datatype based on the values

In [76]:
print(own_index)

action_drama    moondru mugam
drama             pollathavan
action                 darbar
dtype: object

In [77]:
own_index.index

Index(['action_drama', 'drama', 'action'], dtype='object')

In [79]:
heights.index

In [80]:
list_s =['rajini','kamal','vijayakanth']

In [84]:
list_ss = pd.Series(list_s)

In [85]:
list_ss.index

RangeIndex(start=0, stop=3, step=1)

In [86]:
type(list_ss.index)

pandas.core.indexes.range.RangeIndex

In [87]:
#we can create our own range index

In [88]:
range_ind = pd.RangeIndex(start = 1,stop = 7,step = 1)

In [90]:
print(range_ind)

RangeIndex(start=1, stop=7, step=1)

In [91]:
list(range_ind)

[1, 2, 3, 4, 5, 6]

In [97]:
list(pd.RangeIndex(start = 10,stop = -11,step = -1))#it exclude the stop values

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]