In [1]:
#calculate the average height from the list of height

In [11]:
name = input('names: ')
names=[]
names.append(name)
print(names)

names: mohan
['mohan']

In [22]:
names=input('enter height seperated by space :')
name = []
name = names.split(" ")
sum = 0
count=0
for i in name:
    sum = sum + int(i)
    count = count+1
    average = sum/count
print(name)
print(sum)
print(count)
print(round(average))

enter height seperated by space :123 234 345 456 567
['123', '234', '345', '456', '567']
1725
5
345

In [25]:
heights = input('enter height seperated by space :')
height_list = heights.split(' ')
count = 0
for i in height_list:
    count=count+1
print(count)

for i in range(count):
    height_list[i] = int(height_list[i])
total = 0
for person in height_list:
    total+=person
avg = total/count
print(round(avg))

enter height seperated by space :123 234 345 456 567
5
345

In [55]:
#excercise 2 
#find the maximum number in the list without using max function

list1 = input('enter the number seperated by commas :')
list2 = list1.split(' ')
for i in range(len(list2)):
    list2[i] = int(list2[i])
max = list2[0]
for i in list2:
    if i>max:
        max = i
print(f"the maximum number in the list is {max}")

enter the number seperated by commas :123 234 345
the maximum number in the list is 345