In [1]:
#primitive datatypes in python 
#in python dataypes are classes
#variables we created are objects or instances
#int,float,string,boolean,binary

In [2]:
var_1 = 3
type(var_1)

int

In [3]:
#int - +ve to -ve

In [4]:
print(0b10)

2

In [5]:
print(0B10)

2

In [6]:
#binary - power of 2.. it will return the binary values(use 0b  or 0B)

In [7]:
print(0o10)

8

In [8]:
print(0O123)

83

In [9]:
#Octal - power of 8 .. it will return octal values use (0o or 0O)

In [10]:
print(0x10)

16

In [11]:
print(0X10)

16

In [12]:
#hexa - power of 16.. it will return the hexa values use (0x or 0X)

In [13]:
type(print(0x10))

16

NoneType

In [14]:
#string - starts with quotes 
#floats - decimal values

In [15]:
var_1 = 123
var_2 = 10.2
var_1 = 12

In [16]:
print(var_1)

12

In [17]:
#concatination and addition

In [18]:
name1 = 'mohan'
name2 = 'krishnan'
name1 = 1

In [19]:
print(name1+name2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
name1 = 'mohan'
name2 = 'krishnan'
print(name1 + name2)

mohankrishnan

In [21]:
name1 = 3
name2 = 4
print(name1 + name2)

7

In [22]:
#how to handle special character(SINGLE OR DOUBLE QUOTES) in string- by using backslash

In [23]:
print('MOHAN\'S BIRTHDAY')

MOHAN'S BIRTHDAY

In [25]:
print(10 * "mohan \\n\'s birthday\n")

mohan \n's birthday
mohan \n's birthday
mohan \n's birthday
mohan \n's birthday
mohan \n's birthday
mohan \n's birthday
mohan \n's birthday
mohan \n's birthday
mohan \n's birthday
mohan \n's birthday