In [2]:
#set are also used to store multiple items in the single variable.
# instead of using [] in list and () for tuple use {} for sets
# duplicates are not allowed in sets
# its in unordered form
# index are not allowed bcz it is unordered
# we can't change the items in the sets
# we can add and remove the elements in the sets

In [3]:
sets1 = {1,4,6,8,3,7,8,3}

In [4]:
sets1

{1, 3, 4, 6, 7, 8}

In [5]:
print(sets1[3]) # indexing is not allowed...

TypeError: 'set' object is not subscriptable

In [6]:
sets2 = {}
sets3 = set()

In [7]:
print(type(sets2))
print(type(sets3))

<class 'dict'>
<class 'set'>

In [8]:
#add elements in the sets
sets1.add(90)

In [12]:
sets1

{1, 3, 4, 6, 7, 8, 90}

In [13]:
sets1.remove(7) # remove the elements in the sets

In [14]:
sets1

{1, 3, 4, 6, 8, 90}

In [16]:
sets1.discard(4)

In [17]:
print(sets1)

{1, 3, 6, 8, 90}

In [18]:
sets1.discard(100)# discard can remove the elements in the sets ..though it will not present it will not throw the error

In [19]:
sets1

{1, 3, 6, 8, 90}

In [20]:
sets1.pop() # it will randomly remove the elements

1

In [21]:
sets1.add((10,11,12,13))

In [22]:
sets1

{(10, 11, 12, 13), 3, 6, 8, 90}

In [24]:
sets1.add([15,16,17]) # we can't add list in tuple bcz list is mutable

TypeError: unhashable type: 'list'

In [25]:
#Operations in sets..

In [26]:
#union - (all the elements)

In [30]:
set1 ={1,2,3,4,5}
set2 ={4,5,6,10,11}
set3 ={13,14}

In [28]:
set1.union(set2) #return all the elements

{1, 2, 3, 4, 5, 6, 10, 11}

In [35]:
set1.union(set2,set3) # the arguments can be any one of the iterables..

{1, 2, 3, 4, 5, 6, 10, 11, 13, 14}

In [38]:
l1 = ['mani','selva']
set1.union(l1)

{1, 13, 14, 2, 3, 4, 5, 'mani', 'selva'}

In [39]:
set1 | set2 #using union operator..also set1 | set2 |set3 ..note for this operator '|' all the objects are must be sets..

{1, 2, 3, 4, 5, 6, 10, 11, 13, 14}

In [40]:
set1 |l1

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [41]:
print(set1 | ('mohan','pradeep'))

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [42]:
#modify or changing the set..

In [3]:
set1 = {'mohan','parkavi','ari','dinu'}
set2 = {'aki','valar','mathi','sandhiya','Mohan'}
set3 = {'ankur','pradeep','mohan'}

In [44]:
set1.update(set2)# adding elements from set2 to set1

In [45]:
print(set1)

{'sandhiya', 'aki', 'parkavi', 'ari', 'mohan', 'dinu', 'valar', 'mathi'}

In [1]:
#intersection in sets....applicable for all iterables....

In [4]:
print(set1.intersection(set3))

{'mohan'}

In [5]:
print(set1.intersection(set3,set2))

set()

In [6]:
# & intersetion symbol applicable for only sets..

In [7]:
l1= ['mohan','ari','dinu']

In [8]:
print(set1 & l1)

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [9]:
print(set1.intersection(l1))

{'dinu', 'mohan', 'ari'}

In [10]:
#updating the set using intersection

In [12]:
set1.intersection_update(l1) #it will update the set1

In [13]:
set1

{'ari', 'dinu', 'mohan'}

In [14]:
set2.intersection_update(set1) # it will update the set2

In [15]:
set2

set()

In [16]:
set3.intersection_update(['nanda','geetha'])

In [17]:
set3

set()

In [20]:
# difference in sets..
set1 = {'mohan','parkavi','ari','dinu'}
set2 = {'aki','valar','mathi','sandhiya','Mohan'}
set3 = {'ankur','pradeep','mohan'}
set4 = {'parkavi','mohan'}

In [19]:
print(set1.difference(set2))

{'dinu', 'mohan', 'ari', 'parkavi'}

In [21]:
print(set1.difference(set4))

{'dinu', 'ari'}

In [22]:
print(set2.difference(set1))

{'valar', 'mathi', 'Mohan', 'aki', 'sandhiya'}

In [23]:
print(set4.difference(set1))

set()

In [27]:
# - difference operators..only applicable for sets...
print(set1- set2)

{'dinu', 'mohan', 'ari', 'parkavi'}

In [28]:
#updating the sets..using difference_update..

In [29]:
set1.difference_update(set2)

In [30]:
set1

{'ari', 'dinu', 'mohan', 'parkavi'}

In [31]:
set1.difference_update(set4)

In [32]:
set1

{'ari', 'dinu'}

In [33]:
print(set1)

{'dinu', 'ari'}

In [34]:
#symmetric_difference -- either in set1 or set2 but not both..
set1 = {'mohan','parkavi','ari','dinu'}
set2 = {'aki','valar','mathi','sandhiya','Mohan'}
set3 = {'ankur','pradeep','mohan'}
set4 = {'parkavi','mohan'}

In [35]:
set1.symmetric_difference(set2)

{'Mohan', 'aki', 'ari', 'dinu', 'mathi', 'sandhiya', 'valar'}

In [36]:
set1.union(set2)

{'Mohan', 'aki', 'ari', 'dinu', 'mathi', 'sandhiya', 'valar'}

In [37]:
set1^set2

{'Mohan', 'aki', 'ari', 'dinu', 'mathi', 'sandhiya', 'valar'}

In [38]:
#updating set using difference_update..

In [39]:
set1.symmetric_difference_update(set2)

In [40]:
set1

{'Mohan', 'aki', 'ari', 'dinu', 'mathi', 'sandhiya', 'valar'}

In [44]:
#disjoint...means the intersection elements are zero...
set1 = {'mohan','parkavi','ari','dinu'}
set2 = {'aki','valar','mathi','sandhiya','Mohan'}
set3 = {'ankur','pradeep','mohan'}
set4 = {'parkavi','mohan'}
set5 = set()

In [42]:
print(set1.isdisjoint(set2)) # because in both set1 and set2 the intersection elements are mohan...

False

In [47]:
print(set1.isdisjoint(set5))

True

In [48]:
#subset --means if set1 is subset of set2 only ..when all the elements in set1 are in set2

In [49]:
print(set4.issubset(set1)) #both mohan and parkavi in set4 are also in set1

True

In [50]:
print(set2.issubset(set1))

False

In [51]:
# operator for subset..<=
print(set4 <= set1)
print(set2 <=set1)

True
False

In [53]:
#superset is reverse of subset...means if set1 is superset of set2 only all the element in set2 are in set1

print(set2.issuperset(set1))
print(set1.issuperset(set4)) #mohan and parkavi in set1

False
True

In [55]:
# operator for superset..<=
print(set1 >= set4)
print(set2 >=set1)

True
False

In [56]:
#clear - it will clear all the elements in the set..
set2.clear()

In [57]:
set2

set()

In [60]:
set2 = set1.copy()

In [61]:
set2

{'ari', 'dinu', 'mohan', 'parkavi'}