In [1]:
#type_error- object of specific data type has no such fuctions

#      TypeError: object of type 'int' has no len()  
#      TypeError: can only concatenate str (not "int") to str

In [2]:
print(len("12345"))

5

In [3]:
print(len(12345))

TypeError: object of type 'int' has no len()

In [4]:
print("your name has "+len("monhan")+" characters")

TypeError: can only concatenate str (not "int") to str

In [5]:
#type_casting - casting from one datatype to another datatype

In [7]:
print("your name has "+str(len("mohana krishnan"))+" characters")

your name has 15 characters

In [8]:
#type_checking - checking which datatype the result has

In [11]:
name1 = 283747
name2 = "i849jjr"
name3 = "mohan"

In [13]:
str(type(name1)) + str(type(name2))+ str(type(name3))

"<class 'int'><class 'str'><class 'str'>"

In [15]:
print(type(len(name2)))

<class 'int'>

In [16]:
print(type(True))

<class 'bool'>

In [17]:
print(type(3.55))

<class 'float'>

In [18]:
print(int("10")+int("19"))

29

In [20]:
print(int("10")+float("10"))
name = "mohan"
print(10 + int(name))

20.0

ValueError: invalid literal for int() with base 10: 'mohan'

In [21]:
def add(m,n):
    return m+n

In [22]:
add(10,20)

30

In [23]:
#whenever the input from user come..python take this as an string

In [24]:
a = input("first number : ")
b = input("Second number : ")
print(a+b)

first number : 1
Second number : 2
12

In [25]:
#so...cast the input..

In [26]:
a = int(input("first number"))
b = int(input("Second number"))
print(a+b)

first number1
Second number10
11

In [28]:
#program to add digits of a number using type casting
#23 = 2+3 
#45 = 4+5

In [29]:
a = input("enter a 2 digit number : ")
digit1 = a[0]
digit2 = a[1]
print(int(digit1)+int(digit2))

enter a 2 digit number : 45
9

In [30]:
#program to add digits of a number
#23 = 2+3 
#45 = 4+5

In [ ]:
def digit_checking(m)
a = int(input("enter a two digit number : "))
while (count !=1):
    a1 = a%10
    count = count+1