In [2]:
#for loop in python - iterator..
#doing same action repeatedly..
#syntax..
# for variable_name in sequence:
#    statements
# here sequence may be in string,list,tuple,dictionary,set.
#careful with the indentation causing error..

In [9]:
names = {'mohan','parkavi','tamil','baskar'}
for name in names:
    print(name)

baskar
mohan
tamil
parkavi

In [8]:
name = 'mohana krishnan'
for i in name:
    print(i)

m
o
h
a
n
a

k
r
i
s
h
n
a
n

In [13]:
name = 'mohana krishnan'
for i in name:
    print(i,end='   ')

m   o   h   a   n   a       k   r   i   s   h   n   a   n

In [22]:
#find the square of the elements in the list and load it in another list
list1 = [2,3,5,-2,10]
l1 = []
for i in list1:
    square = i**2
    l1.append(square)
print(f'the square of the elements in the list is {l1}')

the square of the elements in the list is [4, 9, 25, 4, 100]

In [24]:
#for-else loop in python: 
#syntax

#for variable_name in sequence:
     #statements
#else:
    #statements
    
    
#how it works...?
#else part will run only when the for loop excecutes fine /terminated successfully completely/with no error otherwise it wont run..

In [27]:
#example
number = [2,3,5,-1,0,33]
for i in number:
    print(i)
else:
    print('for loop excecuted successfully')

2
3
5
-1
0
33
for loop excecuted successfully

In [29]:
#example
number = [2,3,5,-1,0,33]
for i in number:
    print(i)
    if (i == 0):
        break; # forcefully terminates the for loop
else:
    print('for loop excecuted successfully')

2
3
5
-1
0

In [34]:
tuple1 = (2,56,34,35,-1)
for i in tuple1:
    if i%6 == 0:
        print(i)
        break
else:
    print('There is no number is divisible by 6 in the sequence')

There is no number is divisible by 6 in the sequence