In [1]:
#tuples in python

# 1) same as list instead of [] use ()
# 2) tuples are immutable

In [16]:
tuple1 = (12,-6,'ture',True,'papu')
tuple1

(12, -6, 'ture', True, 'papu')

In [17]:
#accessing elements in tuple

In [22]:
print(tuple1[1:3])

(-6, 'ture')

In [23]:
tuple2 =(5)

In [24]:
print(type(tuple1))

<class 'tuple'>

In [25]:
print(type(tuple2))# for one element in tuple we have to give comma otherwise it will consider as an int value

<class 'int'>

In [26]:
tuple3 = (5,)

In [27]:
print(type(tuple3))

<class 'tuple'>

In [28]:
print(len(tuple3))

1

In [29]:
#since tuple is immutable we cannot add or remove or modify the elements

In [30]:
tuple1[2] = 'mohan'

TypeError: 'tuple' object does not support item assignment

In [31]:
tuple1.insert(2,5)

AttributeError: 'tuple' object has no attribute 'insert'

In [32]:
#nested tuple

In [38]:
tuple4 = (tuple1,tuple2,tuple3)
tuple5 = tuple1  + tuple3

In [34]:
print(tuple4)

((12, -6, 'ture', True, 'papu'), 5, (5,))

In [39]:
print(tuple5)

(12, -6, 'ture', True, 'papu', 5)

In [41]:
tuple6 = (1,5,100,50,11,0)
print(min(tuple6))

0

In [43]:
print(max(tuple6))

100

In [44]:
#converting list into tuple and tuple to list

In [45]:
l1 = list(tuple6)

In [46]:
l1

[1, 5, 100, 50, 11, 0]

In [47]:
l2 = ['mohan',25,'papu','/']

In [48]:
tuple7 = tuple(l2)

In [49]:
tuple7

('mohan', 25, 'papu', '/')

In [50]:
#refer other function related to tuples in the python official pages